@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.fi-simple-main-ctn{
    @apply justify-center;
    @apply bg-gradient-to-l from-wabag-green to-wabag-black dark:bg-gradient-to-r dark:from-wabag-black dark:to-wabag-green;
}

.fi-simple-main{
    @apply bg-wabag-green shadow-glow-yellow rounded-lg;

    & .fi-simple-page{
        @apply w-full;
    }
}
.fi-btn{
    @apply bg-dark-yellow;
}

.fi-input-wrp-input:hover{
    @apply border-2 rounded-lg border-wabag-yellow;
}

.fi-input-wrp-suffix:hover{
    @apply border-2 rounded-lg border-wabag-yellow;
}

.fi-simple-header-heading{
    display:none;
}

.fi-logo{
    display: none
}

.fi-fo-field-wrp-label{
    @apply text-wabag-white !important; /* Use actual color code for wagab-yellow */
    font-family: monospace;
}

.fi-wi-stats-overview-stats{
    display: none;
}
/*******************************************************************************************************/
/*Inside sidebar*/
/*******************************************************************************************************/
aside.fi-sidebar{
        @apply bg-wabag-green;

        & .fi-side-nav-groups
        {
            @apply gap-y-3;
        }
        & .fi-sidebar-item-label
        {
            @apply text-gray-200 dark:text-blue-950 font-light;
        }

        & .fi-sidebar-item-icon
        {
            @apply text-wabag-yellow dark:text-blue-950;
        }

        & .fi-sidebar-item-label:hover
        {
            @apply text-wabag-green dark:text-gray-400 font-light;
        }
}
.fi-sidebar-header{
    @apply bg-wabag-yellow;
    @apply text-wabag-white;
}

/*******************************************************************************************************/
/*Sidebar Scrollable disable*/
/*******************************************************************************************************/
.fi-sidebar-nav::-webkit-scrollbar {
    display: none;
}
.fi-sidebar-nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
